# Stop the editor from looking for .editorconfig files in the parent directories
root = true

[*]
charset = utf-8
insert_final_newline = true
# Caveat: Prettier won’t trim trailing whitespace inside template strings, but your editor might.
trim_trailing_whitespace = true

end_of_line = lf
indent_style = tab
indent_size = 4
max_line_length = 120
ij_typescript_use_semicolon_after_statement = false

[*.md]
trim_trailing_whitespace = false
max_line_length = off

[*.yml]
indent_style = space

[package.json]
indent_style = space
indent_size = 2